:host {
  display: flex;
  margin-top: 20px;
  border-bottom: solid 1px hsl(0, 0%, 80%);
}

.categories {
  display: flex;
  gap: 8px;
  margin-left: 20px;
}

.category {
  padding: 8px 12px;
  color: hsl(0, 0%, 50%);
  font-size: 14px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.category > i {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
}

.active {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: solid 1px hsl(0, 0%, 80%);
  border-left: solid 1px hsl(0, 0%, 80%);
  border-right: solid 1px hsl(0, 0%, 80%);
  background-color: white;
  color: black;
  margin-bottom: -1px;
}

.individuals {
  background-color: indianred;
}

.managers {
  background-color: lightseagreen;
}

.add-category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: transparent;
  border: none;
  color: hsl(0, 0%, 50%);
  font-weight: bold;
  font-size: 14px;
  position: relative;
  margin-left: 10px;
}

.add-category:hover {
  border-radius: 5px;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}
