:host {
  padding: 18px;
  display: block;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.stats {
  display: flex;
  gap: 4px;
  font-size: 13px;
  color: hsl(0, 0%, 40%);
  margin-top: 2px;
  margin-left: 5px;
}

.stats > * {
  padding: 2px 6px;
  border-radius: 5px;
}

.careers {
  background-color: lightslategrey;
  color: white;
}

.roles {
  background-color: blanchedalmond;
}

.groups {
  background-color: lightblue;
}

.topics {
  background-color: lightgreen;
}
