.container {
  background-color: white;
  color: hsl(0, 0%, 50%);
  box-shadow: 0 3px 5px hsl(0, 0%, 90%);
}

.add {
  grid-column: span 16;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: hsl(0, 0%, 50%);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
