* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(200, 100%, 99%);
}

img {
  display: inline-flex;
}

.addButton {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  color: hsl(0, 0%, 50%);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.addButton:hover {
  border-radius: 5px;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}
